<section id="first-section">
  <div class="container">
    <h3 class="text-center">VIP account holders benefit from:</h3>
    <div class="text-center" fxLayout="row wrap">
      <div class="single-benefit-container" fxLayout="column" fxLayoutAlign="center center" fxFlex="33.3333333%" fxFlex.sm="50%" fxFlex.xs="100%">
        <div class="icon icon-1">&nbsp;</div>
        <p class="benefit-title">Direct Access to<br>
          our Market Analyst</p>
        <p class="benefit-desc">
          Direct access to our Market analyst 24/5
          and a FREE 30 minute
          consultation.
        </p>
      </div>
      <div class="single-benefit-container" fxLayout="column" fxLayoutAlign="center center" fxFlex="33.3333333%" fxFlex.sm="50%" fxFlex.xs="100%">
        <div class="icon icon-2">&nbsp;</div>
        <p class="benefit-title">SMS Markets<br>
          Alerts</p>
        <p class="benefit-desc">
          Access immediate market updates
          and receive trading ideas and alerts by
          text message, direct to your mobile phone.
        </p>
      </div>
      <div class="single-benefit-container" fxLayout="column" fxLayoutAlign="center center" fxFlex="33.3333333%" fxFlex.sm="50%" fxFlex.xs="100%">
        <div class="icon icon-3">&nbsp;</div>
        <p class="benefit-title">MT4 & Trading<br>
          Tools Training</p>
        <p class="benefit-desc">
          Benefit from direct contact to an
          experienced and dedicated account
          manager with a 60 minute complementary
          MT4 training session
        </p>
      </div>
      <div class="single-benefit-container" fxLayout="column" fxLayoutAlign="center center" fxFlex="33.3333333%" fxFlex.sm="50%" fxFlex.xs="100%">
        <div class="icon icon-4">&nbsp;</div>
        <p class="benefit-title">VIP Trading<br>
          Signals</p>
        <p class="benefit-desc">
          VIP clients have access to our exclusive trading
          signals which are updated up to 3 times a day
          providing powerful insights to the markets.
        </p>
      </div>
      <div class="single-benefit-container" fxLayout="column" fxLayoutAlign="center center" fxFlex="33.3333333%" fxFlex.sm="50%" fxFlex.xs="100%">
        <div class="icon icon-5">&nbsp;</div>
        <p class="benefit-title">Exclusive<br>
          Webinars</p>
        <p class="benefit-desc">
          Join our invite only webinars on popular
          trading topics with our Market expert and
          benefit from the Live Q and A sessions.
        </p>
      </div>
      <div class="single-benefit-container" fxLayout="column" fxLayoutAlign="center center" fxFlex="33.3333333%" fxFlex.sm="50%" fxFlex.xs="100%">
        <div class="icon icon-6">&nbsp;</div>
        <p class="benefit-title">Trusted<br>
          Broker</p>
        <p class="benefit-desc">
          Trade safe with the FXPRIMUS client’s funds
          insurance. The coverage offers supplementary
          protection of up to EUR 2.500.000
        </p>
      </div>
    </div>
  </div>
</section>
