<div fxLayout="row" fxLayoutAlign="center">
  <div class="footer-top-icon footer-icons">
    <div class="max-width-265" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
      <a class="white-text" href="https://www.facebook.com/FXPRIMUSbroker" target="_blank"><fa name="facebook-f"></fa></a>
      <a class="white-text" href="https://twitter.com/fxprimus" target="_blank"><fa name="twitter"></fa></a>
      <a class="white-text" href="https://www.instagram.com/fxprimus" target="_blank"><fa name="instagram"></fa></a>
      <a class="white-text" href="https://www.linkedin.com/company/fxprimus" target="_blank"><fa name="linkedin"></fa></a>
      <a class="white-text" href="https://plus.google.com/u/0/118353362115015557016" target="_blank"><fa name="google-plus"></fa></a>
      <a class="white-text" href="https://www.youtube.com/channel/UCd4ESVCr7zxtpTnobmB4laQ" target="_blank"><fa name="youtube"></fa></a>
    </div>
  </div>
</div>
<p>asdlfkj</p>