<footer>
    <div fxLayout="row"
         fxLayoutAlign="center">
        <div class="footer-top-icon">
            <div class="max-width-265"
                 fxLayout="row"
                 fxLayoutAlign="center"
                 fxLayoutGap="10px">
                <a class="white-text"
                   href="https://www.facebook.com/FXPRIMUSbroker"
                   target="_blank">
                    <fa name="facebook-f"></fa>
                </a>
                <a class="white-text"
                   href="https://twitter.com/fxprimus"
                   target="_blank">
                    <fa name="twitter"></fa>
                </a>
                <a class="white-text"
                   href="https://www.instagram.com/fxprimus"
                   target="_blank">
                    <fa name="instagram"></fa>
                </a>
                <a class="white-text"
                   href="https://www.linkedin.com/company/fxprimus"
                   target="_blank">
                    <fa name="linkedin"></fa>
                </a>
                <a class="white-text"
                   href="https://plus.google.com/u/0/118353362115015557016"
                   target="_blank">
                    <fa name="google-plus"></fa>
                </a>
                <a class="white-text"
                   href="https://www.youtube.com/channel/UCd4ESVCr7zxtpTnobmB4laQ"
                   target="_blank">
                    <fa name="youtube"></fa>
                </a>
            </div>
        </div>
    </div>
    <div class="blue-linear-bg">
        <div class="container inner-footer">
            <div fxLayout="row" [fxShow.md]="true" [fxShow.lg]="true" [fxShow.xl]="true" [fxHide]="true">
                <div fxLayout="column"
                     fxLayoutAlign="start center"
                     fxFlex="16.6666666667%">
                    <h4 class="menu-title">trading</h4>
                    <ul class="site-menu-map">
                        <li>
                            <a href="https://www.fxprimus.com/en/int-trading-accounts-overview"
                               target="_blank">- Account Types</a>
                        </li>
                        <li>
                            <a href="https://www.fxprimus.com/en/int-account-funding"
                               target="_blank">- Account Funding</a>
                        </li>
                        <li>
                            <a href="https://www.fxprimus.com/en/int-platforms-overview"
                               target="_blank">- Platforms</a>
                        </li>
                        <li>
                            <a href="https://www.fxprimus.com/en/int-trading#trader-tools"
                               target="_blank">- Tools</a>
                        </li>
                        <li>
                            <a href="https://www.fxprimus.com/en/int-technological-advantages"
                               target="_blank">- Conditions</a>
                        </li>
                    </ul>
                </div>
                <div fxLayout="column"
                     fxLayoutAlign="start center"
                     fxFlex="16.6666666667%">
                    <h4 class="menu-title">instruments</h4>
                    <ul class="site-menu-map">
                        <li>
                            <a href="https://www.fxprimus.com/en/int-instruments-energy"
                               target="_blank">- Energies</a>
                        </li>
                        <li>
                            <a href="https://www.fxprimus.com/en/int-instruments-equity-trading"
                               target="_blank">- Equities</a>
                        </li>
                        <li>
                            <a href="https://www.fxprimus.com/en/int-instruments-forex"
                               target="_blank">- Forex</a>
                        </li>
                        <li>
                            <a href="https://www.fxprimus.com/en/int-instruments-index-trading"
                               target="_blank">- Indices</a>
                        </li>
                        <li>
                            <a href="https://www.fxprimus.com/en/int-instruments-precious-metals-commodities"
                               target="_blank">- Precious Metals</a>
                        </li>
                        <li>
                            <a href="https://www.fxprimus.com/en/int-instruments-futures-trading"
                               target="_blank">- Futures Expirations</a>
                        </li>
                    </ul>
                </div>
                <div fxLayout="column"
                     fxLayoutAlign="start center"
                     fxFlex="16.6666666667%">
                    <h4 class="menu-title">- education</h4>
                    <ul class="site-menu-map">
                        <li>
                            <a href="https://www.fxprimus.com/en/int-expert-market-analysis"
                               target="_blank">- FX Market Specialist</a>
                        </li>
                        <li>
                            <a href="https://www.fxprimus.com/en/education/int-expertguest"
                               target="_blank">- Expert Guests</a>
                        </li>
                        <li>
                            <a href="https://www.fxprimus.com/en/education/int-forex-trading-videos"
                               target="_blank">- Learn To Trade</a>
                        </li>
                        <li>
                            <a href="https://www.fxprimus.com/en/int-events-overview"
                               target="_blank">- Events Overview</a>
                        </li>
                        <li>
                            <a href="https://www.fxprimus.com/en/education/int-how-to-videos"
                               target="_blank">- Videos</a>
                        </li>
                    </ul>
                </div>
                <div fxLayout="column"
                     fxLayoutAlign="start center"
                     fxFlex="16.6666666667%">
                    <h4 class="menu-title">partners</h4>
                    <ul class="site-menu-map">
                        <li>
                            <a href="https://www.fxprimus.com/en/int-partners-overview"
                               target="_blank">- Partners Overview</a>
                        </li>
                    </ul>
                    <h4 class="menu-title">promotions</h4>
                    <ul class="site-menu-map">
                        <li>
                            <a href="https://www.fxprimus.com/en/int-promotions"
                               target="_blank">- Promotions Overview</a>
                        </li>
                    </ul>
                </div>
                <div fxLayout="column"
                     fxLayoutAlign="start center"
                     fxFlex="16.6666666667%">
                    <h4 class="menu-title">support</h4>
                    <ul class="site-menu-map">
                        <li>
                            <a href="https://www.fxprimus.com/en/int-frequently-asked-questions"
                               target="_blank">- FAQ</a>
                        </li>
                        <li>
                            <a href="https://www.fxprimus.com/en/int-trading-support-legal-documents"
                               target="_blank">- Legal Documents</a>
                        </li>
                        <li>
                            <a href="https://www.fxprimus.com/en/int-contact-us"
                               target="_blank">- Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div fxLayout="column"
                     fxLayoutAlign="start center"
                     fxFlex="16.6666666667%">
                    <h4 class="menu-title">why us</h4>
                    <ul class="site-menu-map">
                        <li>
                            <a href="https://www.fxprimus.com/en/int-who-we-are"
                               target="_blank">- Who We Are</a>
                        </li>
                        <li>
                            <a href="https://www.fxprimus.com/en/int-career"
                               target="_blank">- Career</a>
                        </li>
                        <li>
                            <a href="https://dwj7fa0133ng0.cloudfront.net/cap/uploads/company_presentation/pdf/VU/Presentation_EN.pdf"
                               download="">- Company Presentation</a>
                        </li>
                        <li>
                            <a href="https://www.fxprimus.com/en/int-company-news"
                               target="_blank">- Company News</a>
                        </li>
                        <li>
                            <a href="https://www.fxprimus.com/en/int-safety-of-funds"
                               target="_blank">- Safety</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <div class="inner-footer-text"
                     fxFlex="65%" ngStyle.gt-sm="margin-top: 3.75em">
                    <p class="footer-paragraph">
                        This website is operated by Primus Markets INTL Limited, a member
                        Company of the FXPRIMUS Group.
                    </p>
                    <p class="footer-paragraph">
                        FXPRIMUS is the brand name used by: <br>
                        Primus Global Ltd (previously known as FX Primus Europe (CY) Ltd), regulated by CySEC, with
                        licence no. 261/14. <br>
                        Primus Markets INTL Limited, regulated by VFSC, with registration no. 14595. <br>
                        Primus Africa (Pty) Ltd, regulated by FSCA, with licence no. 46675.
                    </p>
                    <p class="footer-paragraph">
                        FXPRIMUS clients are insured with a EUR2.5M policy.
                    </p>
                    <p class="footer-paragraph">
                        Risk Warning: Please note that forex trading and trading in other
                        leveraged products involves a significant level of risk and is not suitable for all investors.
                        Trading in financial instruments may result in losses as well as profits, and your losses can be
                        greater than your initial invested capital. Before undertaking any such transactions, you should
                        ensure that you fully understand the risks involved and seek independent advice if
                        necessary.
                    </p>
                    <p class="footer-paragraph">
                        This information is not directed or intended for distribution to or use
                        by residents of certain countries/jurisdictions including, but not limited to, Australia,
                        Belgium, France, Iran, Japan, North Korea and USA. &nbsp;The Company does not offer its services
                        to residents of certain countries/jurisdictions including, but not limited to, Australia,
                        Belgium, France, Iran, Japan, North Korea and USA.&nbsp;The Company holds the right to alter the
                        above lists of countries at its own discretion.
                    </p>
                    <p class="footer-paragraph"
                       style="margin-top: 30px">
                        ©2018 FXPRIMUS. All Rights Reserved.
                    </p>
                </div>
                <div class="all-awards-container"
                     fxFlex="35%"
                     ngStyle.gt-sm="padding-left: 20px; padding: 3.75em 0 0 3.75em;">
                    <div fxLayout="column"
                         fxLayoutGap="22px">
                        <div fxLayout="row"
                             fxLayoutAlign="center"
                             fxLayoutGap="5%">
                            <div fxLayout="column"
                                 fxLayoutAlign="center center"
                                 fxFlex="32.3%"
                                 fxFlex.lt-md="95px;">
                                <span class="footer-icons footer-award-1">&nbsp;</span>
                                <p class="awards-subtext text-center">
                                    FxDailyInfo<br>
                                    Awards 2018
                                </p>
                            </div>
                            <div fxLayout="column"
                                 fxLayoutAlign="center center"
                                 fxFlex="32.3%"
                                 fxFlex.lt-md="95px;">
                                <span class="footer-icons footer-award-2">&nbsp;</span>
                                <p class="awards-subtext text-center">
                                    FxDailyInfo<br>
                                    Awards 2018
                                </p>
                            </div>
                        </div>
                        <div fxLayout="row wrap"
                             fxLayoutAlign="center"
                             fxLayoutGap="3px">
                            <div class="margin-right-10-tablet margin-bottom-20-tablet"
                                 fxLayout="column"
                                 fxLayoutAlign="center center"
                                 fxFlex="32.3%"
                                 fxFlex.lt-md="95px;">
                                <span class="footer-icons footer-award-3">&nbsp;</span>
                                <p class="awards-subtext text-center">
                                    16th MENA<br>
                                    FFEXPO, 2016
                                </p>
                            </div>
                            <div class="margin-bottom-20-tablet"
                                 fxLayout="column"
                                 fxLayoutAlign="center center"
                                 fxFlex="32.3%"
                                 fxFlex.lt-md="95px;">
                                <span class="footer-icons footer-award-4">&nbsp;</span>
                                <p class="awards-subtext text-center">
                                    15th MENA<br>
                                    FFEXPO, 2015
                                </p>
                            </div>
                            <div fxLayout="column"
                                 fxLayoutAlign="center center"
                                 fxFlex="32.3%"
                                 fxFlex.lt-md="95px;">
                                <span class="footer-icons footer-award-5">&nbsp;</span>
                                <p class="awards-subtext text-center">
                                    A-ZForex.com,<br>
                                    2016
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>