@import "../../scss-partials/variables";
//general styles
.padding-top-bottom-11 {
  padding-top: $size-20;
  padding-bottom: $size-20;
}

a[mat-raised-button] {
  background: $orange-color;
  color: $white-color;
  text-transform: $uppercase;
}

.fxprimus-logo {
  height: 170px;
  width: 204px;
  background-image: url(//dwj7fa0133ng0.cloudfront.net/cap/uploads/lps/gold/v2/Gold_laning_page_sprite.svg);
  background-position: -1px -17px;
  background-size: 378px auto;
}

@media screen and (min-width: 992px) {
  .fxprimus-logo {
    height: 107px;
    width: 130px;
    background-position: -9px -9px;
    background-size: 265px auto;
  }
}