<hr class="hr-strip-gray">
<div class="bottom-strip">
    <div class="container">
        <div fxLayout="row wrap">
            <div fxLayout="column" fxLayout.gt-md="row" fxFlex="16.6666667%" fxFlex.lt-md="33.3333333%" fxLayoutAlign="space-between center" fxLayoutAlign.lt-lg="start center">
                <div class="icon icon-1" fxFlex="77px" fxFlex.lt-lg="67px">&nbsp;</div>
                <div>
                    <p class="mobile-p">SPREADS AS<br>
                        LOW AS 0.1 PIPS</p>
                </div>
            </div>
            <div fxLayout="column" fxLayout.gt-md="row" fxFlex="16.6666667%" fxFlex.lt-md="33.3333333%" fxLayoutAlign="space-between center" fxLayoutAlign.lt-lg="start center">
                <div class="icon icon-2" fxFlex="77px" fxFlex.lt-lg="67px">&nbsp;</div>
                <div>
                    <p class="mobile-p">€2.5 MILLION COVERAGE</p>
                </div>
            </div>
            <div fxLayout="column" fxLayout.gt-md="row" fxFlex="16.6666667%" fxFlex.lt-md="33.3333333%" fxLayoutAlign="space-between center" fxLayoutAlign.lt-lg="start center">
                <div class="icon icon-3" fxFlex="77px" fxFlex.lt-lg="67px">&nbsp;</div>
                <div>
                    <p class="mobile-p">0% FEES ON DEPOSITS & WITHDRAWALS</p>
                </div>
            </div>
            <div fxLayout="column" fxLayout.gt-md="row" fxFlex="16.6666667%" fxFlex.lt-md="33.3333333%" fxLayoutAlign="space-between center" fxLayoutAlign.lt-lg="start center">
                <div class="icon icon-4" fxFlex="51px" fxFlex.lt-lg="67px">&nbsp;</div>
                <div>
                    <p>FAST WITHDRAWALS</p>
                </div>
            </div>
            <div fxLayout="column" fxLayout.gt-md="row" fxFlex="16.6666667%" fxFlex.lt-md="33.3333333%" fxLayoutAlign="space-between center" fxLayoutAlign.lt-lg="start center">
                <div class="icon icon-5" fxFlex="46px" fxFlex.lt-lg="67px">&nbsp;</div>
                <div>
                    <p>FUND SAFETY, LICENSED & REGULATED</p>
                </div>
            </div>
            <div fxLayout="column" fxLayout.gt-md="row" fxFlex="16.6666667%" fxFlex.lt-md="33.3333333%" fxLayoutAlign="space-between center" fxLayoutAlign.lt-lg="start center">
                <div class="icon icon-6" fxFlex="61px" fxFlex.lt-lg="67px">&nbsp;</div>
                <div>
                    <p>24/5 LIVE CHAT SUPPORT</p>
                </div>
            </div>
        </div>
    </div>
</div>