<div class="container">
  <h3 ngStyle.lt-md="text-align: center">The Benefits of Trading with FXPRIMUS</h3>
  <div fxLayout="row wrap" fxLayoutAlign="center">
    <div class="single-benefit-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxFlex="20%" fxFlex.sm="33.3333333%" fxFlex.xs="50%">
      <div class="icon icon-1">&nbsp;</div>
      <p>Personal Account<br>
        Manager</p>
    </div>
    <div class="single-benefit-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxFlex="20%" fxFlex.sm="33.3333333%" fxFlex.xs="50%">
      <div class="icon icon-2">&nbsp;</div>
      <p>Negative Balance<br>
        Protection</p>
    </div>
    <div class="single-benefit-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxFlex="20%" fxFlex.sm="33.3333333%" fxFlex.xs="50%">
      <div class="icon icon-3">&nbsp;</div>
      <p>Free client fund insurance up to 2.5 million</p>
    </div>
    <div class="single-benefit-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxFlex="20%" fxFlex.sm="33.3333333%" fxFlex.xs="50%">
      <div class="icon icon-4">&nbsp;</div>
      <p>Daily Market<br>
        Outlook</p>
    </div>
    <div class="single-benefit-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxFlex="20%" fxFlex.sm="33.3333333%" fxFlex.xs="50%">
      <div class="icon icon-5">&nbsp;</div>
      <p>3rd Party Oversees<br>
        Client Withdrawals</p>
    </div>
    <div class="single-benefit-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxFlex="20%" fxFlex.sm="33.3333333%" fxFlex.xs="50%">
      <div class="icon icon-6">&nbsp;</div>
      <p>Free Access to<br>
        Market Research</p>
    </div>
    <div class="single-benefit-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxFlex="20%" fxFlex.sm="33.3333333%" fxFlex.xs="50%">
      <div class="icon icon-7">&nbsp;</div>
      <p>Access to Video<br>
        Tutorials</p>
    </div>
    <div class="single-benefit-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxFlex="20%" fxFlex.sm="33.3333333%" fxFlex.xs="50%">
      <div class="icon icon-8">&nbsp;</div>
      <p>Daily Access to<br>
        Trading Signals</p>
    </div>
    <div class="single-benefit-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxFlex="20%" fxFlex.sm="33.3333333%" fxFlex.xs="50%">
      <div class="icon icon-9">&nbsp;</div>
      <p>24/5 Hour<br>
        Live Help</p>
    </div>
    <div class="single-benefit-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxFlex="20%" fxFlex.sm="33.3333333%" fxFlex.xs="50%">
      <div class="icon icon-10">&nbsp;</div>
      <p>Multiple Account Options: MAM, ECN & Variable</p>
    </div>
  </div>
</div>