<div fxLayout="column">
   <section>
       <app-header></app-header>
       <div class="container">
           <div fxLayout="row" style="width: 100%;">
               <div style="background-color: red" fxFlex="50%">title</div>
               <app-regestration-form fxFlex="50%" style="background-color: white"></app-regestration-form>
           </div>
       </div>
   </section>
    <app-bottom-strip></app-bottom-strip>
    <app-main-content></app-main-content>
    <app-account-types></app-account-types>
    <app-trading-benefits></app-trading-benefits>
    <app-footer></app-footer>
</div>