<div fxLayout="column">
   <section id="banner">
       <app-header></app-header>
       <div class="container">
           <div fxLayout="row" fxFlex="100%">
               <div fxFlex="50%">title</div>
               <app-regestration-form fxFlex="50%"></app-regestration-form>
           </div>
       </div>
   </section>
    <app-bottom-strip></app-bottom-strip>
    <app-main-content></app-main-content>
    <app-account-types></app-account-types>
    <app-trading-benefits></app-trading-benefits>
    <app-footer></app-footer>
</div>