<div fxLayout="column">
   <section id="banner">
       <app-header></app-header>
       <div class="container margin-top-40px">
           <div class="flex-column-max-991" fxLayout="row" fxFlex="100%" fxLayoutAlign="space-between">
               <div class="center-elements-tablet text-center-tablet flex-100-max-991" >
                       <h1 class="title"><span class="white-header">BECOME</span><br>
                           <span class="orange-header">A VIP CLIENT</span></h1>
                       <p class="header-paragraph-container"><span class="header-paragraph">Take Advantage Of Our Premium Services</span></p>
                       <div class="vip-services">
                           <div class="service-container service-container1">
                               <div class="img trading-signals">&nbsp;</div>
                               <div class="text">
                                   <div class="text-content">VIP Trading</div>
                                   <div class="text-content">Signals</div>
                               </div>
                           </div>
                           <div class="service-container service-container2">
                               <div class="img market-alerts">&nbsp;</div>
                               <div class="text">
                                   <div class="text-content">SMS Market</div>
                                   <div class="text-content">Alerts</div>
                               </div>
                           </div>
                           <div class="service-container service-container3">
                               <div class="img direct-access">&nbsp;</div>
                               <div class="text">
                                   <div class="text-content">Direct Access to</div>
                                   <div class="text-content">our Market Analyst</div>
                               </div>
                           </div>
                       </div>
                       <p class="fxprimus-award">FXPRIMUS awards its VIP clients with access to advantageous trading conditions.</p>
               </div>
               <app-regestration-form class="flex-100-max-991 flex-95-max-599 on-mob-center"></app-regestration-form>
           </div>
       </div>
   </section>
    <app-bottom-strip></app-bottom-strip>
    <app-main-content></app-main-content>
    <app-account-types></app-account-types>
    <app-trading-benefits></app-trading-benefits>
    <app-footer></app-footer>
    <app-fixed-bottom></app-fixed-bottom>
</div>