@import "../../scss-partials/variables";
@import "../../scss-partials/mixins";

.form {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: $blue-color-opacity;
  padding: 25px 35px;
  width: 100%;
}

.form-header {
  @include latoregular();
  font-size: $size-20;
  text-align: center;
  color: $white-color;
  text-transform: $uppercase;
}

.full-width {
  width: $full;
}

.mat-input-element {
  color: $white-color;
}

mat-label {
  color: $white-color !important;
}

mat-form-field.mat-focused mat-label {
  color: $orange-color !important;
}

button[mat-raised-button] {
  color: $white-color;
  background-color: $orange-color;
  border: 1px solid $orange-color;
  text-transform: $uppercase;
}

button[mat-raised-button]:hover {
  background-color: $blue-color;
  border: 1px solid $orange-color;
}

.trading-margin {
  @include latoregular();
  font-size: $size-14;
  line-height: 16px !important;
  color: $white-color;
  margin: 10px auto;
}