<form class="form" fxFlex.gt-xs="500px" fxLayout="column" fxLayoutAlign="center center">
  <h1 class="form-header">open an account</h1>
  <mat-form-field class="full-width">
    <input type="text" matInput placeholder="First Name" ngModel="" name="first_name"/>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input type="text" matInput placeholder="Last Name" ngModel="" name="last_name"/>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input type="email" matInput placeholder="Email" ngModel="" name="email"/>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-select placeholder="Country" ngModel="" name="country">
      <mat-option *ngFor="let country of countries" [value]="country">
        {{country}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="full-width" fxLayout="row" fxLayoutAlign="space-between">
    <mat-form-field fxFlex="28%">
      <input type="number" matInput placeholder="Country Code" ngModel="" name="country_code"/>
    </mat-form-field>
    <mat-form-field fxFlex="68%">
      <input type="number" matInput placeholder="Phone Number" ngModel="" name="phone_number"/>
    </mat-form-field>
  </div>
  <mat-form-field class="full-width">
    <input type="text" matInput placeholder="Username" ngModel="" name="username"/>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input type="password" matInput placeholder="Password" ngModel="" name="password"/>
  </mat-form-field>
    <button class="full-width" type="submit" mat-raised-button>register now</button>
  <p class="trading-margin">Trading on margin products involves a high level of risk</p>
</form>
