<form class="form" fxFlex.gt-xs="500px" fxLayout="column" fxLayoutAlign="center center">
  <h1 class="form-header">open an account</h1>
  <mat-form-field class="full-width">
    <mat-label>First Name</mat-label>
    <input type="text" matInput ngModel="" name="first_name"/>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Last Name</mat-label>
    <input type="text" matInput ngModel="" name="last_name"/>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Email</mat-label>
    <input type="email" matInput ngModel="" name="email"/>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Country</mat-label>
    <mat-select ngModel="" name="country">
      <mat-option *ngFor="let country of countries" [value]="country">
        {{country}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="full-width" fxLayout="row" fxLayoutAlign="space-between">
    <mat-form-field fxFlex="28%">
      <mat-label>Country Code</mat-label>
      <input type="number" matInput ngModel="" name="country_code"/>
    </mat-form-field>
    <mat-form-field fxFlex="68%">
      <mat-label>Phone Number</mat-label>
      <input type="number" matInput ngModel="" name="phone_number"/>
    </mat-form-field>
  </div>
  <mat-form-field class="full-width">
    <mat-label>Username</mat-label>
    <input type="text" matInput ngModel="" name="username"/>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Password</mat-label>
    <input type="password" matInput ngModel="" name="password"/>
  </mat-form-field>
    <button class="full-width" type="submit" mat-raised-button>register now</button>
  <p class="trading-margin">Trading on margin products involves a high level of risk</p>
</form>
